/*impostazioni generali*/

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:wght@400;500;600;700&display=swap');


html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    background: rgb(103, 66, 48);
    color: white
}

.table {
    background-color: rgb(65, 35, 19);
    border-radius: 10px;
}

.table td{
    border-right: 1px solid white;
}

.table td:last-of-type{
    border-right: none;
}

/*navbar*/

.navbar {
    background: rgb(75, 41, 24);
}

.navbar a {
    color: white;
    border-bottom: 1px solid transparent;
    margin: 0px 8px;
    transition: all .2s ease;
}

.navbar a:hover {
    color: white;
    border-bottom: 1px solid white
}

/*homepage*/

.card {
    background-color: #1c1f2694;
    border-radius: 30px;
    border: 2px solid grey;
    overflow: hidden;
}

.card-img-top{
    height: 15em;
}

.card-title, .details-description, .details-text, .bg-custom {
    background: rgb(87, 49, 31, 0.90);
    padding: 0.5em;
    border-radius: 8px;
}

.card .btn, a.btn, .btn {
    color: white;
    border: 1px solid darkgrey;
    padding: 9px;
    margin: 5px 0px;
    background: rgb(103, 66, 48);
    transition: all .2s ease;
}

.card .btn:hover, a.btn:hover, .btn:hover {
    background: rgb(75, 41, 24);
    border: 1px solid #0E1217;
    color: white;
}

/* dettagli */

.img-container{
    width:20em;
}

.description-div, .login-form {
    border: 3px dashed #7a7e8794;
    padding: 2em;
}

/*form*/

.form-group .form-control {
    background-color: rgb(109, 77, 62) !important;
    color: white;
}

.input-custom {
    width: 3em;
    background: transparent;
    color: white
}

.input-cart {
    width: 3em !important;
    background: transparent !important;
    color: white !important;
    outline: none !important;
}

.details-description {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

/*carosello*/

.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    background-size: cover;
}

.carousel-caption {
    bottom: 220px;
}

    .carousel-caption h5 {
        font-size: 3.5em;
        text-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    }

    .carousel-caption p {
        font-size: 1.2em;
        text-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    }

/*footer*/
footer {
    border-top: 1px solid #212529;
}
