@{
    ViewData["Title"] = "Conferma Acquisto";
}

<h2>Conferma Acquisto</h2>

<p>Il tuo acquisto è stato confermato. Grazie per aver acquistato con noi!</p>

<a href="@Url.Action("Index", "Home")" class="btn btn-primary">Torna alla Home</a>
